body{background-color: rgb(9, 215, 230);

}
h1
{
    color:rgb(1, 7, 7);
    background-color: rgb(73, 83, 62);

}

#show_Sketch
{
    float:right
}
 canvas
 {
     border:5px solid yellowgreen;
     border-radius:20px;
     animation-name: example;
     animation-duration: 4s;
     margin-top: 50px;
     animation-iteration-count: infenite ;


 }
 @keyframes example {
    from {box-shadow: 1px 1px 38px grey;} to {box-shadow: 1px 1px 38px white;}

 }
 p { padding-top:10px; font-size:25px; }


